/* global properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
/* main layout sections properties */
header {
  height: 100px;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  padding-right: 15px;
  top: 0;
  right: 0;
  width: calc(100vw - 75px);
}
aside {
  background-color: #000000;
  display: flex;
  position: relative;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 75px;
  overflow-y: auto;
}
main {
  background-color: #141922;
  height: calc(100vh - 75px);
  display: flex;
}
main nav {
  margin-top: 20px;
  color: #5D6166;
  text-align: center;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}
main nav ul {
  flex-basis: 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main nav ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}
main nav ul li:hover {
  color: #fff;
}
main nav ul li:hover .overlay, main nav ul li:focus .overlay, main nav ul li:active .overlay{
  display: inline-block;
}
footer {
  background-color: #282828;
  height: 75px;
  color: #fff;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a:hover {
  color: #fff;
}
/* header properties button */
.upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.upgrade-btn {
  text-transform: uppercase;
  color: #fff;
  border-radius: 25px;
  border: 2px solid #fff;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}
.upgrade-btn a {
  font-size: 0.85em;
}
.upgrade-btn:hover {
  transform: scale(1.1);
}
/* aside */
.brand img {
  display: none;
  width: 140px;
  margin-top: 10px;
}
/* brand image when collapsed on mobiles */
.collapsed img {
  width: 40px;
  margin-top: 10px;
  margin-top: 10px;
}
/* aside menu */
.menu {
  padding: 35px 5px;
  align-self: flex-start;
  align-content: center;
  color: #A3A3A3;
}
.menu ul, .playlist ul {
  margin-left: -20px;
}
.menu i {
  font-size: 25px;
}
.menu ul li {
  list-style: none;
  padding: 5px 0;
  padding-left: 20px;
}
.menu ul li:hover, .playlist ul li:hover, .user a:hover {
  border-left: 2px solid #ADFF2F;
  color: #fff;
}
.labels {
  margin-left: 5px;
  display: none;
}
/* aside playlist */
.playlist {
  display: none;
}
.playlist-title {
  color: #fff;
  font-weight: bold;
}
.playlist ul li {
  list-style: none;
  color: #A3A3A3;
  padding: 10px 0;
  padding-left: 20px;
}
.fa-plus-square {
  font-size: 40px;
  vertical-align: middle;
  padding-right: 5px;
}
/* user and install app */
.user .labels span {
 font-size: 14px;
}
.bold {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}
.user {
  color: #A3A3A3;
  width: 100%;
  height: 100%;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 5px;
}
.user i {
  font-size: 25px;
  padding: 15px 0;
  padding-left: 20px;
}
.user hr {
  display: none;
  margin-left: 20px;
  border: 1px solid #5D6166;
  width: 100%;
}
/* sections in main */
#recently-played, #created-for-user, #most-popular {
  flex-basis: 100%;
  padding-left: 20px;
}
.content {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}
/* yellow line under nav links on hover */
.overlay {
  position: absolute;
  display: none;
  width: 35px;
  height: 2px;
  background-color: #ADFF2F;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%);
}
/* main sections */
.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#recently-played {
  padding-top: 50px;
}
.title {
  padding: 15px 0;
}
.subtitle {
  color: #5D6166;
  padding-top: 3px;
}
#recently-played h1, #created-for-user h1, #most-popular h1 {
  color: #fff;
  font-size: 1.5em;
}
.card img {
  text-align: center;
  width: 180px;
  height: 180px;
}
.card {
  width: 180px;
  margin: 10px 10px;
  position: relative;
}
.card:hover .card-overlay {
  display: block;
}
.card .song {
  font-weight: bold;
  color: #fff;
  /* width: 180px; */
}
.card .artist {
  color: #5D6166;
  /* width: 180px; */
}
/* overlay play button on hover over cards */
.card-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  height: 180px;
  width: 180px;
  cursor: pointer;
}
.card-overlay i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  position: absolute;
}
#most-popular .card img {
  border-radius: 50%;
}
/* circular cards */
#most-popular .card-overlay {
  border-radius: 50%;
}
/* footer */
.footer-left {
  color: #5A5A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  flex-basis: 20%;
}
.footer-left img {
  width: 50px;
  height: 50px;
  margin-right: 30px;
}
.footer-icons {
  margin-left: 30px;
}
.footer-icons i {
  font-size: 20px;
}
.footer-song-title a:first-child {
  color: #fff;
  font-weight: bold;
}
.footer-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 60%;
}
.player-bar {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-bar > div {
  display: inline-block;
  padding: 0 10px;
}
.player-controls ul li, .footer-right ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}
.player-controls .fa-play-circle {
  font-size: 30px;
  vertical-align: middle;
}
.player-controls .fa-play-circle:hover {
  transform: scale(1.1);
}
.bar {
  width: 80%;
  height: 4px;
  border-radius: 4px;
  background-color: #5A5A5A;
  cursor: pointer;
}
.bar-overlay {
  width: 20%;
  height: 4px;
  border-radius: 4px;
  margin-left: -10px;
  background-color: #C1C1C1;
  position: relative;
}
.player-bar:hover .bar-overlay, .volume-bar:hover .bar-overlay {
  background-color: #ADFF2F;
}
.player-bar:hover .scroller, .volume-bar:hover .scroller {
  display: inline-block;
}
.scroller {
  display: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #C1C1C1;
  position: absolute;
  left: 100%;
  transform: translate(-50%, -30%);
}
.footer-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 20px;
  flex-basis: 20%;
}
.volume-bar {
  display: inline-block;
  width: 50%;
  height: 4px;
  border-radius: 4px;
  background-color: #5A5A5A;
  vertical-align: middle;
  padding-left: 10px;
  cursor: pointer;
}
[class^="time-"] {
  font-size: 12px;
}
/* media queries just for expanding sidebar on >= tablets  */
@media all and (min-width: 768px) {
  aside {
    min-width: 200px;
  }
  header {
    width: calc(100vw - 200px);
  }
  .brand img {
    display: inline-block;
  }
  .collapsed img {
    display: none;
  }
  .labels {
    display: inline-block;
  }
  .playlist {
    display: block;
  }
  .user hr {
    display: block;
  }
}
